body {
  margin: 0;
  font-family: Arial;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  background: #0f172a;
  color: white;
}

.container.ready {
  background: #16a34a;
}

.container.waiting {
  background: #b91c1c;
}

.card {
  background: rgba(255,255,255,0.1);
  padding: 30px;
  border-radius: 16px;
  text-align: center;
  width: 300px;
  backdrop-filter: blur(10px);
}

button {
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 8px;
  background: #3b82f6;
  color: white;
  cursor: pointer;
}

button.secondary {
  background: #64748b;
}

.message {
  margin-top: 15px;
  font-weight: bold;
}